* {
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    color:rgba(255,255,100)
    font_size: 4em;
    background-image: linear-gradient(rgba(255,255,100),rgba(255,100,100))

}
ol  li{
    margin-left: 2em;
    font-size: 2em;
}
ul  li{
    margin-left: 2em;
    font-size: 2.2em;
    color: rgb(10, 94, 10)
}